<div class="lista-container">
  <mat-table class="mat-elevation-z10" #table [dataSource]="dados" matSort>
    <!-- Coluna do Nome -->
    <ng-container matColumnDef="nome">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Nome </mat-header-cell>
      <mat-cell *matCellDef="let linha"> {{linha.nome}} </mat-cell>
    </ng-container>

    <!-- Coluna do Url -->
    <ng-container matColumnDef="url">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Url </mat-header-cell>
      <mat-cell *matCellDef="let linha"> <a>{{linha.url}}</a> </mat-cell>
    </ng-container>
  
    <!-- Coluna das Ações -->
    <ng-container matColumnDef="acoes">
      <mat-header-cell *matHeaderCellDef class="coluna-acoes"> Ações </mat-header-cell>
      <mat-cell *matCellDef="let linha" class="coluna-acoes">
        <button mat-icon-button *ngIf="linha.acoes.editar">
          <mat-icon aria-label="Editar" matTooltip="Editar" [routerLink]="linha.id" color="primary">edit</mat-icon>
        </button>
        <button mat-icon-button *ngIf="linha.acoes.excluir">
          <mat-icon aria-label="Excluir" matTooltip="Excluir" (click)="excluirLink(linha.id)" color="warn">clear</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="titulos"></mat-header-row>
    <mat-row *matRowDef="let row; columns: titulos;"></mat-row>
  </mat-table>

  <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]" [showFirstLastButtons]="true">
  </mat-paginator>
</div>