<mat-toolbar color="primary">
  <div [routerLink]="['/']" class="logo" (click)="activeLinkIndex = -1">
      <img width="120" alt="Angular Logo" src="./assets/images/sebrae-logo.png">
    Painel Admin
  </div>
  <span class="spacer"></span>
  <button mat-button [matMenuTriggerFor]="menu">Menu</button>
  <mat-menu #menu="matMenu">
    <button (click)="logout()" mat-menu-item>Sair</button>
  </mat-menu>
</mat-toolbar>

<div class="navBar">
  <nav mat-tab-nav-bar #navBar>
    <a mat-tab-link *ngFor="let routeLink of routeLinks; let i = index;" 
    [routerLink]="routeLink.link" 
    routerLinkActive="mat-tab-link-active"
    #rla="routerLinkActive" 
    [active]="activeLinkIndex === i" 
    (click)="activeLinkIndex = i">
      {{routeLink.label}}
    </a>
  </nav>
</div>